/* General Settings */

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-image: linear-gradient(#F5CAC3, #F28482);
    font-family: 'Montserrat', sans-serif;
}

.sr-only {
    border: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1;
    margin: 0 -1px -1px 0;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1;
}

#main-container {
    display: flex;
    flex-direction: column;
    max-width: 32.5rem;
    margin: 1rem;
    border-radius: 1rem;
    box-shadow: 0 0 1rem 0.25rem #6D6D6D;
}

/* Product Settings */

#hero-image {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#hero-section {
    display: flex;
    flex-direction: column;
    background: #F7EDE2;
    padding: 1.25rem;
    text-align: left;
}

#product-category {
    color: #55596C;
    font-size: 0.9rem;
    font-weight: 400;
    letter-spacing: 0.4rem;
    text-transform: uppercase;
    padding-bottom: 1rem;
    
}

#product-name {
    color: #1c232b;
    font-family: 'Fraunces', sans-serif;
    font-size: 2rem;
    padding-bottom: 1rem;
}

#product-description {
    color: #55596C;
    font-size: 1rem;
    line-height: 1.5rem;
    padding-bottom: 1rem;
}

/* Price Settings */

#hero-price {
    display: flex;
    text-align: left;
}

.price {
    display: flex;
}

#current-price {
    color: #516D66;
    font-family: 'Fraunces', sans-serif;
    font-size: 2rem;
    font-weight: 700;
}

#original-price {
    align-self: center;
    color: #55596C;
    text-decoration: line-through;
    padding-left: 1rem;
}

/* Button Settings */

button {
    display: flex;
    justify-content: center;
    width: 100%;
    color: #fff;
    font-family: 'Fraunces', sans-serif;
    font-weight: 500;
    font-size: 1rem;
    background-color: #516D66;
    border: none;
    border-radius: 10px;
    padding: 0.75rem 1rem;
    margin-top: 0.75rem;
}

button:hover {
    cursor: pointer;
    background: #48615B;
}

button > img {
    padding-right: 10px;
}

/* Media Queries */

@media (min-width: 33.5rem) {
    #main-container {
        flex-direction: row;
        border-radius: 1rem;
    }

    #hero-image {
        max-width: 100%;
        min-width: 14.063rem;
        border-radius: 1rem 0 0 1rem;
    }

    #hero-section {
        padding: 1.75rem;
        border-radius: 0 1rem 1rem 0;
    }
}